$font-helvetica: Arial, Helvetica, sans-serif;

$color-pink: #ea8d8d;
$color-purple: #a890fe;
$color-grey: #e2e2e2;
$color-black: #5c5252;

$mobile: 600px;
$tablet: 601px;
$laptop: 1100px;
$desktop: 1281px;
@mixin mobile {
  @media (max-width:#{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width:#{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  width: 100%;
  // height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-black;
}
html {
  scroll-behavior: smooth;
}

@include desktop {
  body {
    overflow-y: hidden;
  }
}
@include laptop {
  body {
    overflow-y: hidden;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 8vh;
  background-color: #fff;
  font-family: $font-helvetica;
  margin-bottom: 100px;
  top: 0;
  #nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    a {
      letter-spacing: 3px;
      font-size: 16px;
      // height: -100px;
      font-weight: bold;
      text-decoration: none;
      color: $color-black;
      transition: all 0.3s ease;

      &:hover {
        color: $color-purple;
      }
    }

    a.active {
      color: $color-purple;
    }

    @include mobile {
      position: absolute;
      right: 0;
      height: 92vh;
      width: 100%;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-pink;
      width: 50%;
      transform: translateX(100%);
      a {
        color: white;
      }
    }
  }
  .logo {
    width: 40px;
    cursor: pointer;
    padding: 10px 0;
  }
  .hamburger {
    display: none;
    @include mobile {
      display: block;
    }
  }
  @include mobile {
    width: 100%;
    // background-color: #000;
    padding: 0 1em;
    justify-content: space-between;
    .logo {
      float: left;
    }
    .hamburger {
      float: right;
    }
  }
  @include desktop {
    .logo {
      margin-top: 10px;
      width: 50px;
    }
  }
}

nav.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.061);
}

.wrapper {
  display: flex;
  margin-top: 100px;
  .name {
    width: 30%;
  }
  .intro {
    padding-left: 250px;
    padding-right: 100px;
    width: 70%;
  }
  @include mobile {
    .name {
      width: 100%;
    }
    .intro {
      display: none;
    }
  }
  @include tablet {
    .name {
      width: 50%;
    }
    .intro {
      padding-left: 100px;
      padding-right: 50px;
      width: 50%;
    }
  }
  @include laptop {
    .intro {
      padding-right: 40px;
      width: 100%;
    }
  }
  @include desktop {
    .intro {
      padding-left: 200px;
    }
  }
}

.name {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .pink-box {
    position: absolute;
    transform: translateX(-120px);
    z-index: -1;
  }
  .content {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .first {
      font-size: 2.5em;
    }
    .last {
      font-size: 7em;
    }
    .job-title {
      text-transform: capitalize;
      font-weight: 100;
      font-size: 1.2em;
      margin: 20px 0;
    }
    .project {
      display: flex;
      align-items: center;
      h4 {
        text-transform: capitalize;
        color: $color-pink;
      }
      .line {
        margin-left: 7px;
        width: 50px;
        height: 3px;
        background-color: $color-black;
      }
    }
  }
  .dots {
    // position: absolute;
    top: 580px;
    left: 50%;
  }
  @include mobile {
    .dots {
      margin-top: 50px;
      margin-left: 600px;
    }
  }
  @include tablet {
    .pink-box {
      width: 400px;
    }
    .content {
      margin-top: 50px;
      transform: translateX(60px);
      align-items: flex-end;
      .first {
        font-size: 2em;
      }
      .last {
        font-size: 4em;
      }
      .job-title {
        font-size: 1em;
      }
      .project {
        transform: translateX(60px);
      }
    }
    .dots {
      width: 300px;
      margin-top: 50px;
      margin-left: 250px;
    }
  }

  @include laptop {
    .pink-box {
      width: 450px;
      z-index: -1;
    }
    .content {
      margin-top: 50px;
      transform: translateX(90px);
      justify-content: end;
      align-items: flex-end;

      .first {
        font-size: 2em;
      }
      .last {
        font-size: 5em;
      }
      .job-title {
        font-size: 1em;
      }
      .project {
        margin-left: 200px;
      }
    }
    .dots {
      top: 390px;
      width: 380px;
      left: 15%;
    }
  }
  @include desktop {
    .pink-box {
      width: 600px;
    }
    .content {
      transform: translateX(250px);
      margin-top: 70px;
      justify-content: end;
      align-items: flex-end;
      .first {
        font-size: 3em;
        letter-spacing: 3px;
      }
      .last {
        font-size: 10em;
      }
      .job-title {
        font-size: 2em;
      }
    }
    .dots {
      left: 20%;
    }
  }
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    transform: translateX(10px);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  .pink-dots {
    position: absolute;
    // margin-right: 60px;
  }

  .intro-text {
    margin-top: 150px;
    text-align: right;

    h1 {
      font-size: 5em;
    }
    p {
      margin-top: 10px;
      font-size: 1.3em;
    }
  }

  .purple-triangle {
    position: absolute;
    top: 520px;
    right: 0;
  }
  @include tablet {
    .pink-dots {
      width: 150px;
    }
    .intro-text {
      margin-top: 90px;
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1em;
      }
    }
    .purple-triangle {
      margin-top: 100px;
      width: 350px;
    }
  }

  @include laptop {
    .intro-text {
      margin-top: 100px;
    }
    .pink-dots {
      width: 200px;
      margin-right: -100px;
      right: 150px;
    }
    .purple-triangle {
      margin-top: 5px;
      right: 0;
      width: 450px;
    }
  }
  @include desktop {
    .intro-text {
      margin-top: 120px;
      p {
        font-size: 1.5em;
      }
    }
    .purple-triangle {
      top: 73%;
      width: 600px;
    }
  }
}
.project-list {
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 0 30px;
  height: 400px;
  background-color: $color-pink;
  color: #fff;
  z-index: 2;
  h2 {
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease;
  }
  @include mobile {
    display: none;
  }
}

.grid-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
  .grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .profile {
      position: absolute;
      top: 200px;
      display: flex;
      align-items: center;
      margin-left: 50px;
      font-size: 2em;
      .line {
        background-color: $color-pink;
        margin-left: 10px;
        width: 40px;
        height: 3px;
      }
    }

    .deco1,
    .deco3 {
      transform: translateX(-100px);
    }
  }
  .grid-item2 {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    h1 {
      font-size: 4em;
    }
    .icon-wrapper {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .familiar {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
          font-size: 2em;
        }
      }
    }
    .experience {
      margin-bottom: 100px;
      h1 {
        margin: 1em 0;
      }
      h4 {
        font-size: 2em;
        line-height: 50px;
      }
      ul {
        padding-left: 30px;
        list-style-type: circle;
      }
      p {
        margin-top: 50px;
        font-size: 1.5em;
      }
    }
    .skills,
    .familiar,
    .education {
      text-align: right;
      padding-bottom: 100px;
      h1 {
        margin-bottom: 1em;
      }
      h4 {
        font-size: 2em;
        line-height: 50px;
      }
    }

    .title-light,
    .italic {
      font-weight: 100;
    }
    .light {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      z-index: -1;
      h4 {
        font-weight: 100;
      }
    }
    .italic {
      font-style: italic;
    }
  }
  .grid-item3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(10px);
  }

  @include mobile {
    display: flex;
    .grid-item1,
    .grid-item3 {
      display: none;
    }
    .grid-item2 {
      padding-right: 0;
      .skills,
      .experience,
      .familiar,
      .education {
        text-align: center;
      }
      .familiar {
        ul {
          flex-direction: column;
          li {
            margin-bottom: 10px;
          }
        }
      }
      .icon-wrapper {
        img {
          width: 60px;
        }
      }
    }
  }
  @include tablet {
    display: flex;
    .grid-item1 {
      margin-left: -250px;
      .profile {
        margin-left: 300px;
      }
    }
    .grid-item2 {
      transform: translateX(-60px);
      // padding-right: 100px;
      .familiar {
        ul {
          flex-direction: column;
        }
      }
      .experience {
        p {
          font-size: 1.5em;
        }
      }
    }
  }

  @include laptop {
    .grid-item1 {
      margin-left: -170px;
      .profile {
        margin-left: 190px;
      }
    }
    .grid-item2 {
      transform: translateX(-50px);
      // padding-right: 100px;
      .icon-wrapper {
        img {
          width: 70px;
        }
      }
      .familiar {
        ul {
          flex-direction: column;
        }
      }
      .experience {
        p {
          font-size: 1.5em;
        }
      }
    }
  }
  @include desktop {
    .grid-item2 {
      .icon-wrapper {
        img {
          width: 100px;
        }
      }
      .experience {
        p {
          font-size: 2em;
        }
      }
    }
  }
}

.title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1.year {
    font-size: 9em;
    position: absolute;
    z-index: -1;
    color: #fff;
    -webkit-text-stroke: 2px #70707069;
  }
  h1.p-name {
    font-size: 3em;
  }
}

.flex-row {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  @include laptop {
    h4 {
      font-size: 1.5em;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 30px;
  img#myImg {
    width: 100%;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(0.9);
      cursor: pointer;
    }
  }
}
.gallery-app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  margin-top: 30px;
  img#myImg {
    width: 100%;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(0.9);
      cursor: pointer;
    }
  }
  img.phone-app {
    width: 10%;
  }
}
.img-container {
  transition: all 2s ease;
  position: relative;
  display: none;
  margin-top: 30px;
}
.close {
  position: absolute;
  font-size: 50px;
  right: 0;
  color: $color-pink;
  padding-right: 10px;
}

.content-wrapper {
  padding: 2em;
  h2 {
    line-height: 80px;
  }

  @include laptop {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.2em;
    }
  }
}

.contact-content {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
  margin-right: 70px;
  overflow: hidden;

  .name-section {
    width: 100%;
    position: relative;
    height: 50px;
    margin-bottom: 50px;
    input {
      width: 100%;
      height: 100%;
      font-size: 25px;
      color: $color-black;
      padding-top: 20px;
      border: none;
      outline: none;
      padding-bottom: 10px;

      &:focus + .label-name .content-name,
      &:valid + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        color: $color-purple;
      }
      &:focus + .label-name::after,
      &:valid + .label-name::after {
        transform: translateX(0%);
      }
    }
    label {
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;

      &::after {
        content: " ";
        position: absolute;
        left: 0px;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $color-purple;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
      }
    }
    .content-name {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
    }
  }
}

.submit {
  padding: 20px;
  background-color: #fff;
  color: $color-pink;
  font-size: 15px;
  border: 6px solid $color-pink;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $color-pink;
    color: #fff;
    transform: scale(0.8);
  }
  &:focus {
    outline: none;
  }
}

.center-btn {
  display: flex;
  justify-content: center;
}
.livebtn {
  padding: 20px;
  background-color: #fff;
  color: $color-pink;
  font-size: 15px;
  border: 4px solid $color-pink;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color-pink;
    color: #fff;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
